body {
    margin: 0;
    background-color: bisque;
}

.title {
    background-color: purple;
    color: rgb(88, 255, 241);
    text-align: center;
    padding: 15px 0;
    margin-bottom: 15px;
}

.title > h1 {
    font-weight: 900;
    font-size: 2em;
    font-family: monospace;
    margin: 0;
}

.settings {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 800px;
    height: 800px;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    border: 7px solid firebrick;
}

select#colorOption {
    margin-right: 10px;
}

#reset {
    position: relative;
    right: -7%;
    padding: 10px 15px 10px 15px;
    border-radius: 17px;
    
    background-color: blue;
    color: white;
    border: rgb(32, 255, 225) solid 3px;
    cursor: pointer;
    font-size: 1em;
    
}

#reset:hover {
    transform: scale(1.1);
    animation-name: changeColor;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes changeColor {
    100% {
        background-color: red;
    }
}